version: "3.1"
services:
  security:
    build: .
    ports:
      - 4000:4000
    volumes:
      - .:/app
      - "app/node_modules"
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
      - DATABASE_USER=ye
      - DATABASE_PASS=123
      - DATABASE_NAME=test
  db:
    build: ./database
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - 3318:3306
